*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #ecf2f7;
  font-size: 50px;
  font-family: helvetica;
}

body{
  background-color: #4d89b2;
}



p{
  padding-top: 40px;
  text-align: center;
}

h1{
  margin-bottom: 20px;
  text-align: center;

}



.top{
  background-color: #333;
  border: 2px solid white;
  width: 90%;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
}


.menu{
  text-align: center;
  font-size: 100%;
  margin-top: 30px;
}

ul{
  width: 100%;
}

li{
  font-size: 20px;
  display: inline-block;
  background-color: tomato;
  width: 19%;
}



.second{
  width: 90%;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}

.two, .three, .four{
  display: inline-block;
  background-color: #333;
  border: 2px solid white;
  width: 32.7%;
  height: inherit;
}

.two{
  position: absolute;
  left: 0px;
}
.three{
  position: absolute;
  left: 33.6%;

}
.four{
  position: absolute;
  right: 0px;
}


.third{
  width: 90%;
  height: 300px;
  margin: auto;
  margin-bottom: 20px;
  /* position: relative; */
}

.five, .six{
  display: inline-block;
  background-color: #333;
  height: inherit;
  border: 2px solid white;
  width: 49.5%;
}

.five{
  float:
}

.six{
  float: right;
}

.bottom{
  background-color: #333;
  border: 2px solid white;
  width: 90%;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
}
/*======================= media queries =======================*/

@media only screen and (max-width:800px) {
  body{
    background-color: orange;
  }


  .bottom{
    position: absolute;
    top: 80px;
    left: 5%;
  }

  .six{
    position: absolute;
    left: 5%;
    top: 250px;
    width: 90%;
    height: 150px;
  }

  .five{
    position: absolute;
    left: 5%;
    top: 440px;
    width: 90%;
    height: 150px;
  }

  .four{
    display: block;
    position: absolute;
    /* left: 5%; */
    top: 540px;
    width: 100%;
    height: 150px;
  }

  .three{
    display: block;
    left: 0%;
    top: 720px;
    width: 100%;
    height: 150px;
  }

  .two{
    display: block;
    left: 0%;
    top: 900px;
    width: 100%;
    height: 150px;
  }

  .top{
    position: absolute;
    left: 5%;
    top: 1160px;
    width: 90%;
    height: 150px;
  }

}
